<nav class="bg-amber-900 overflow-hidden rounded-b-2xl">
    <div class="flex justify-between items-center px-4">
        <a href="/" class="text-brown-800 text-2xl no-underline font-bold">Panadería Inma</a>
        <ul class="list-none m-0 p-0 flex">
            <li class="ml-5">
                <a href="/home#inicio" class="text-brown-800 no-underline py-3 px-5 block transition-transform transform hover:scale-110">Inicio</a>
            </li>
            <li class="ml-5">
                <a href="/home#productos" class="text-brown-800 no-underline py-3 px-5 block transition-transform transform hover:scale-110">Productos</a>
            </li>
            <li class="ml-5">
                <a href="/home#localizaciones" class="text-brown-800 no-underline py-3 px-5 block transition-transform transform hover:scale-110">Localizaciones</a>
            </li>
            <li class="ml-5">
                <a href="/home#nosotros" class="text-brown-800 no-underline py-3 px-5 block transition-transform transform hover:scale-110">Nosotros</a>
            </li>
            <li class="ml-5">
                <a href="/home#contacto" class="text-brown-800 no-underline py-3 px-5 block transition-transform transform hover:scale-110">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
