<style>
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
</style>
<div>
    <!-- NavBar -->
    <!-- Main Content -->
     <div class="h-screen overflow-y-scroll scroll-snap-y">
        <div class="h-screen flex items-center justify-center bg-black text-white">
            <h1 class="font-serif font-normal" style="font-family: 'Playwrite IN', serif; font-optical-sizing: auto;" id="inicio">Bienvenido/a a donde el pan se hace con magia</h1>
        </div>
        <div class="h-screen flex items-center justify-center bg-gray-800 text-white" id="localizaciones">
            <app-localizaciones class="text-4xl"></app-localizaciones>
        </div>
        <div class="h-screen flex items-center justify-center bg-gray-600 text-white" id="nosotros">
            <app-nosotros class="text-4xl"></app-nosotros>
        </div>
        <div class="h-screen flex items-center justify-center bg-gray-400 text-white" id="contacto">
            <app-contacto class="text-4xl"></app-contacto>
        </div>
        <div class="flex items-center justify-center">
            <app-madebyscrpt></app-madebyscrpt>
        </div>
    </div>
    </div>

        <!-- </div> -->

