<div class=" text-center">
    <h1>Sucursales en Malaga</h1>
</div>

<br>
<div class="flex justify-center items-center space-x-6">
    <div class="text-center">
        <h2 class="text-lg font-medium mb-2">Alhaurín de la Torre</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501.62495935298875!2d-4.5627241!3d36.6649187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e532d68eddfb%3A0xb49e4cf7ea538749!2sPasteler%C3%ADa%20y%20Panader%C3%ADa%20Inma%20(Alhaurin)!5e1!3m2!1ses!2ses!4v1737656566618!5m2!1ses!2ses"
            class="w-80 h-80 border-2 border-gray-300 rounded-lg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="text-center">
        <h2 class="text-lg font-medium mb-2">Málaga</h2>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8023.281091392277!2d-4.450974823568663!3d36.690977873848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72f9d088726d6b%3A0x34592380f8733633!2sPasteler%C3%ADa%20y%20Panader%C3%ADa%20Inma%20(M%C3%A1laga)!5e1!3m2!1ses!2ses!4v1737656607515!5m2!1ses!2ses"
            class="w-80 h-80 border-2 border-gray-300 rounded-lg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>